body {
    width: 80%;
    padding-left: 10%;
    background-color: #4C6663 !important;
    font-family: 'Proza Libre', sans-serif;
}
a{
    text-decoration: none !important;
}
h1{
    text-align: center !important;
    color: #E8F7EE !important;
}
img{
    width: 100%;
    height: 100%;
}
.nav{
    width: 100% !important;
    text-align: center !important;
}
.nav-item{
    transition: all, 2s !important;
    border-bottom: solid;
    border-color: #4C6663 !important;
}
.nav-item:hover{
    border-color: #B8C4BB !important;
    transition: all, 2s;
    
}
.navbar{
    width: 100% !important;
    border-bottom: solid;
    border-width: 1px;
}
.nav-item a{
    font-size: min(2vw,30px) !important;
    color: #E8F7EE !important;
}
.navbar{
    background-color: #4C6663 !important;
}
.themeContainer {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}
.paragraph {
    color: #E8F7EE !important;
    font-size: 1.75vw !important;
    margin-bottom: 1rem;
}
.image-write img {
    max-width: 100%;
    height: auto;
}
header h1 {
    text-align: center;
    margin-top: 1rem;
}
.paragraph a{
    border: none;
    background-color: #111C2C !important;
}
.btn{
    border-radius: 100pc !important;
    transition: all, 2s !important;
    font-size: 2vw !important;}
.btn:hover{
    background-color: #E8F7EE !important;
    color: #111C2C !important;
    transition: all, 2s;
}
.row-container{
    height: 10%;
}
.row{
    padding-top: 5%;
    padding-bottom: 5%;
}

footer div p{
    font-size: 1.5vw;
}